# dependencies
.pnp.*
# misc
*.DS_Store*
*.pem
.env*
*.pt
*.mp4
*.avi
*.enc
*.log
nohup.out
system.release.standard.config.ini

venv/

aarlo/

azure-storage-blob/

src/vm2-inference/inference/results

videollama_videos/

**/__pycache__/

**/*.pyc

__pycache__/

*.mp4

*.zip

*.pt

*.png

*.jpeg

*.log

*.pth

*.yaml

*.pyc

*.env